/node_modules
/public/hot
/public/storage
/public/css
/public/js
/vendor
fonts/
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
storage/app/service_account_creds.json
composer.lock
package-lock.json
yarn.lock
mix-manifest.json