
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

//Interfaith Brand Colors
$interfaith-red: #ef3c5a;
$interfaith-blue: #36b0bF;
$interfaith-green: #e8f3df;
$interfaith-yellow: #f4a71d;
$interfaith-turquoise:#63c8cd;

// Brands
$brand-primary: $interfaith-blue;
$brand-info: $interfaith-turquoise;
$brand-success: $interfaith-blue;
$brand-warning: $interfaith-yellow;
$brand-danger: $interfaith-red;


//Interfaith Typography
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$interfaith-open-sans : 'Open Sans', sans-serif;
a:hover{
    background-color:$brand-danger;
}
.btn-primary{
    background-color:$brand-primary;
    border-color:$brand-primary;
}
.btn-warning{
    background-color:$brand-warning;
    border-color:$brand-warning;
}
.btn-danger{
    background-color:$brand-danger;
}
.btn-success{
    background-color:$brand-success;
}
.top-menu {
    background-color: $interfaith-blue;
}

.brand {
    max-height: 75px;
    max-width: 75px;
    height: auto;
    width: auto;
}

.navbar-brand, .navbar-nav li a {
    color: white;
}
nav {
    font-family: $interfaith-open-sans;
}
body{
    background-color: $interfaith-turquoise; 
}
// This is a temp place holder
.calendar{
    background-color: $interfaith-green;
    
}
#calendar {
    margin: 25px;
    background-color: white;
}