
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Panels

//Interfaith Brand Colors
$interfaith-red: #ef3c5a;
$interfaith-blue: #36b0bF;
$interfaith-green: #e8f3df;
$interfaith-yellow: #f4a71d;
$interfaith-turquoise:#63c8cd;

// Brands
$brand-primary: $interfaith-blue;
$brand-info: $interfaith-turquoise;
$brand-success: $interfaith-blue;
$brand-warning: $interfaith-yellow;
$brand-danger: $interfaith-red;

$panel-default-heading-bg: $brand-warning;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);



//Interfaith Typography
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$interfaith-open-sans : 'Open Sans', sans-serif;
a:hover{
    background-color:$brand-warning;
    color:white;
}
//.calendar-panel{
//    background-color: white;
//
//}
.panel{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.panel-default{
    .panel-heading{
        background-color:black;

        border-color:white;
        color:white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

}
thead.fc-head{
    background-color:white;
}
.panel-default{
}
.list-group-item{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.btn-primary{
    background-color:$brand-primary;
    border-color:$brand-primary;
}
.btn-warning{
    background-color:$brand-warning;
    border-color:$brand-warning;
}
.btn-danger{
    background-color:$brand-danger;
}
.btn-success{
    background-color:$brand-success;
}
.top-menu {
    background-color: white;
}
.modal-header{
    background-color:white;
    color:black;
}
.fc-toolbar.fc-header-toolbar{
    padding:10px;
    background-color:$brand-warning;
    color:white;
    margin:0px;
}
.brand {
    max-height: 75px;
    max-width: 75px;
    height: auto;
    width: auto;
}
.container{
    padding-bottom: 10px;
}
 .navbar-nav li a {
    color: black;
    //background-color:$interfaith-red;

}
.navbar-nav li a:hover {
    color: $interfaith-red;
    background-color:white;

}
.navbar-nav li a:focus{
    color:white;
    background-color:#FA364A;

}
 .navbar-nav li a:focus a:hover{
    color:white;
    background-color:#FA364A;

}
nav {
    font-family: $interfaith-open-sans;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
table{
    background-color:white;
}
body{
    background-color:  white;
}
// This is a temp place holder
.calendar{
    background-color: $interfaith-turquoise;
    //padding:0.3px;
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    
}
#calendar {
    margin: 25px;
    background-color: white;
}


/** Email CSS **/
.email-template {
    background-color: white;
}
.email-logo-container .email-logo{
    display: inline-block;
    width: 225px;
}
.email-logo:hover {
    background-color: inherit;
}
.email-logo img {
    display: inline-block;
}