// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Variables
@import "variables";
@import "checkbox";
@import "volunteer-form";
@import "event-form";
@import "loading-spinner";

textarea {
    border-radius: 4px !important;
    resize: none;
}

.text-light {
    color: #aaa;
}

@media screen and (max-width: 600px) {
    .desktop {
        display: none !important;
    }
}
@media screen and (min-width: 600px) {
    .mobile {
        display: none !important;
    }
}
