// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Variables
@import "variables";
@import "checkbox";
@import "volunteer-form";
@import "event-form";
@import "loading-spinner";

textarea {
    border-radius: 4px !important;
    resize: none;
}

.text-light {
    color: #aaa;
}