/** Email CSS **/
.email-template {
    background-color: white;
}
.email-logo-container .email-logo{
    display: inline-block;
    width: 225px;
}
.email-logo:hover {
    background-color: inherit;
}
.email-logo img {
    display: inline-block;
}