@media(min-width: 600px) {
  .event-info > div {
    width: 100%;
    padding: 5px 25px;
  }

  .event-info > div > span {
    width: 150px;
    text-align: left;
  }
}

@media(max-width: 599px) {
  .event-info > div {
    width: 100%;
    padding: 5px 5px;
  }

  .event-info > div > span {
    font-size: 10px;
    width: 100px;
    text-align: left;
    white-space: normal;
  }
}

.event-info-details {
  float: right;
  position: relative;
  margin-top: -13px;
}