@media(min-width: 600px) {
    .volunteer-inputs > div, .volunteer-inputs > .form-group {
        width: 100%;
        padding: 5px 25px;
    }

    .volunteer-inputs > .form-group > .input-group{
        width: 100%;
    }

    .volunteer-inputs > div > span, .volunteer-inputs > .form-group > .input-group > .input-group-addon  {
        width: 150px;
        text-align: left;
    }
}

@media(max-width: 599px) {
    .volunteer-inputs > div, .volunteer-inputs > .form-group {
        width: 100%;
        padding: 5px 5px;
    }
    
    .volunteer-inputs > .form-group > .input-group{
        width: 100%;
    }

    .volunteer-inputs > div > span, .volunteer-inputs > .form-group > .input-group > .input-group-addon {
        font-size: 10px;
        width: 100px;
        text-align: left;
        white-space: normal;
    }
}